<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>SlimeBasic_00000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0.5,0.5},{152,101.5}}</string>
        <key>offset</key>
        <string>{0,-0.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,13.5},{152,101.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00029.png</key>
      <dict>
        <key>frame</key>
        <string>{{0.5,103},{150,101.5}}</string>
        <key>offset</key>
        <string>{0,-0.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,13.5},{150,101.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00001.png</key>
      <dict>
        <key>frame</key>
        <string>{{153.5,0.5},{150,101}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,14},{150,101}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00028.png</key>
      <dict>
        <key>frame</key>
        <string>{{151.5,103},{148,101.5}}</string>
        <key>offset</key>
        <string>{0,-0.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,13.5},{148,101.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0.5,205.5},{148,101}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,14},{148,101}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00027.png</key>
      <dict>
        <key>frame</key>
        <string>{{304.5,0.5},{146,101.5}}</string>
        <key>offset</key>
        <string>{0,-0.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,13.5},{146,101.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00003.png</key>
      <dict>
        <key>frame</key>
        <string>{{149.5,205.5},{146,101}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,14},{146,101}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00004.png</key>
      <dict>
        <key>frame</key>
        <string>{{296.5,205.5},{144,100}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,14.5},{144,100}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00026.png</key>
      <dict>
        <key>frame</key>
        <string>{{300.5,103},{143,101.5}}</string>
        <key>offset</key>
        <string>{0,-0.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22.5,13.5},{143,101.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0.5,307.5},{142,100}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,14.5},{142,100}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00025.png</key>
      <dict>
        <key>frame</key>
        <string>{{0.5,408.5},{141,101.5}}</string>
        <key>offset</key>
        <string>{0,-0.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23.5,13.5},{141,101.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00006.png</key>
      <dict>
        <key>frame</key>
        <string>{{142.5,408.5},{140,100}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,14.5},{140,100}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00024.png</key>
      <dict>
        <key>frame</key>
        <string>{{296.5,306.5},{139,101.5}}</string>
        <key>offset</key>
        <string>{0,-0.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24.5,13.5},{139,101.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00007.png</key>
      <dict>
        <key>frame</key>
        <string>{{143.5,307.5},{138,99.5}}</string>
        <key>offset</key>
        <string>{0,-0.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,15},{138,99.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00023.png</key>
      <dict>
        <key>frame</key>
        <string>{{451.5,0.5},{137,101.5}}</string>
        <key>offset</key>
        <string>{0,-0.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25.5,13.5},{137,101.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00008.png</key>
      <dict>
        <key>frame</key>
        <string>{{283.5,409},{136,99.5}}</string>
        <key>offset</key>
        <string>{0,-0.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,15},{136,99.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00022.png</key>
      <dict>
        <key>frame</key>
        <string>{{444.5,103},{135,101.5}}</string>
        <key>offset</key>
        <string>{0,-0.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26.5,13.5},{135,101.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00009.png</key>
      <dict>
        <key>frame</key>
        <string>{{420.5,409},{134,99}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,15.5},{134,99}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00021.png</key>
      <dict>
        <key>frame</key>
        <string>{{436.5,306.5},{134,101.5}}</string>
        <key>offset</key>
        <string>{0,-0.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,13.5},{134,101.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0.5,511},{132,101.5}}</string>
        <key>offset</key>
        <string>{0,-0.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,13.5},{132,101.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00010.png</key>
      <dict>
        <key>frame</key>
        <string>{{441.5,205.5},{132,99}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,15.5},{132,99}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00011.png</key>
      <dict>
        <key>frame</key>
        <string>{{133.5,511},{131,99.5}}</string>
        <key>offset</key>
        <string>{0,-0.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.5,15},{131,99.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00019.png</key>
      <dict>
        <key>frame</key>
        <string>{{265.5,509.5},{131,101.5}}</string>
        <key>offset</key>
        <string>{0,-0.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28.5,13.5},{131,101.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00012.png</key>
      <dict>
        <key>frame</key>
        <string>{{397.5,509.5},{130,99.5}}</string>
        <key>offset</key>
        <string>{0,-0.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,15},{130,99.5}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00018.png</key>
      <dict>
        <key>frame</key>
        <string>{{589.5,0.5},{129,101}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.5,14},{129,101}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00013.png</key>
      <dict>
        <key>frame</key>
        <string>{{589.5,102.5},{129,100}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29.5,14.5},{129,100}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00017.png</key>
      <dict>
        <key>frame</key>
        <string>{{528.5,509},{128,101}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,14},{128,101}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00015.png</key>
      <dict>
        <key>frame</key>
        <string>{{580.5,203.5},{128,100}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,14.5},{128,100}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00014.png</key>
      <dict>
        <key>frame</key>
        <string>{{574.5,304.5},{128,100}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,14.5},{128,100}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
      <key>SlimeBasic_00016.png</key>
      <dict>
        <key>frame</key>
        <string>{{571.5,405.5},{128,101}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,14},{128,101}}</string>
        <key>sourceSize</key>
        <string>{188,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>SlimaBasic.png</string>
      <key>size</key>
      <string>{719,613}</string>
      <key>textureFileName</key>
      <string>SlimaBasic</string>
    </dict>
  </dict>
</plist>
