<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1.2,1.2},{163.2,177.6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163.2,177.6}}</string>
        <key>sourceSize</key>
        <string>{163.2,177.6}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{166.79999999999998,1.2},{134.4,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134.4,126}}</string>
        <key>sourceSize</key>
        <string>{134.4,126}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{166.79999999999998,138},{120,81.6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,81.6}}</string>
        <key>sourceSize</key>
        <string>{120,81.6}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1.2,181.2},{94.8,97.2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94.8,97.2}}</string>
        <key>sourceSize</key>
        <string>{94.8,97.2}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1.2,280.8},{112.8,76.8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112.8,76.8}}</string>
        <key>sourceSize</key>
        <string>{112.8,76.8}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{116.39999999999999,222},{82.8,98.39999999999999}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82.8,98.39999999999999}}</string>
        <key>sourceSize</key>
        <string>{82.8,98.39999999999999}</string>
      </dict>
      <key>13.png</key>
      <dict>
        <key>frame</key>
        <string>{{201.6,222},{86.39999999999999,87.6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86.39999999999999,87.6}}</string>
        <key>sourceSize</key>
        <string>{86.39999999999999,87.6}</string>
      </dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{290.4,138},{86.39999999999999,87.6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86.39999999999999,87.6}}</string>
        <key>sourceSize</key>
        <string>{86.39999999999999,87.6}</string>
      </dict>
      <key>10.png</key>
      <dict>
        <key>frame</key>
        <string>{{295.2,1.2},{84,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,90}}</string>
        <key>sourceSize</key>
        <string>{84,90}</string>
      </dict>
      <key>12.png</key>
      <dict>
        <key>frame</key>
        <string>{{290.4,228},{84,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,90}}</string>
        <key>sourceSize</key>
        <string>{84,90}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{201.6,312},{84,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,90}}</string>
        <key>sourceSize</key>
        <string>{84,90}</string>
      </dict>
      <key>11.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,320.4},{85.2,87.6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85.2,87.6}}</string>
        <key>sourceSize</key>
        <string>{85.2,87.6}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{116.39999999999999,322.8},{91.2,67.2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91.2,67.2}}</string>
        <key>sourceSize</key>
        <string>{91.2,67.2}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>pet_beholder.png</string>
      <key>size</key>
      <string>{380,415}</string>
      <key>textureFileName</key>
      <string>pet_beholder</string>
    </dict>
  </dict>
</plist>
