<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>item-2x1-frame.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{233,104}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,12},{233,104}}</string>
        <key>sourceSize</key>
        <string>{256,128}</string>
      </dict>
      <key>frame-bg-notification.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{168,171}}</string>
        <key>offset</key>
        <string>{5,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,8},{168,171}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>frame-title-bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,0},{168,168}}</string>
        <key>offset</key>
        <string>{3,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,10},{168,168}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>frame-middle.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,275},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>dpad-right.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,275},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>run_friends_challenges.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,168},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>run_friends_add.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,0},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>run_friends.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,128},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>attack-pad-button.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,256},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>frame-lower.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,296},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>jump-pad-button.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,403},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>dpad-frame.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,403},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>frame-upper.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,384},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>dpad-left.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,0},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>run_friends_notification_settings.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,128},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>check-icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,256},{126,127}}</string>
        <key>offset</key>
        <string>{1,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{126,127}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>inventory-next-button.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,383},{126,125}}</string>
        <key>offset</key>
        <string>{1,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{126,125}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>inventory-back-button.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,531},{126,125}}</string>
        <key>offset</key>
        <string>{1,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{126,125}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>edit-icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,424},{126,126}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{126,126}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>forward-indicator.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,531},{123,123}}</string>
        <key>offset</key>
        <string>{2.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{123,123}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>forward-button.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,512},{123,123}}</string>
        <key>offset</key>
        <string>{2.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{123,123}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>dpad-buttons.png</string>
      <key>size</key>
      <string>{657,656}</string>
      <key>textureFileName</key>
      <string>dpad-buttons</string>
    </dict>
  </dict>
</plist>
