<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>PlantPosion_00014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{113.25,82.25}}</string>
        <key>offset</key>
        <string>{-2.625,8.625}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4.75,14.25},{113.25,82.25}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00015.png</key>
      <dict>
        <key>frame</key>
        <string>{{113.25,0},{113.25,82.25}}</string>
        <key>offset</key>
        <string>{-2.625,8.625}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4.75,14.25},{113.25,82.25}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00017.png</key>
      <dict>
        <key>frame</key>
        <string>{{226.5,0},{112.75,82.25}}</string>
        <key>offset</key>
        <string>{-2.375,8.375}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5.25,14.5},{112.75,82.25}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00012.png</key>
      <dict>
        <key>frame</key>
        <string>{{339.25,0},{113,82.5}}</string>
        <key>offset</key>
        <string>{-2.5,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,14.25},{113,82.5}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00013.png</key>
      <dict>
        <key>frame</key>
        <string>{{452.25,0},{113,82.5}}</string>
        <key>offset</key>
        <string>{-2.5,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,14.25},{113,82.5}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00016.png</key>
      <dict>
        <key>frame</key>
        <string>{{565.25,0},{113,82.5}}</string>
        <key>offset</key>
        <string>{-2.5,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,14.25},{113,82.5}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00018.png</key>
      <dict>
        <key>frame</key>
        <string>{{678.25,0},{112.5,82.5}}</string>
        <key>offset</key>
        <string>{-2.25,8.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5.5,14.5},{112.5,82.5}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00011.png</key>
      <dict>
        <key>frame</key>
        <string>{{790.75,0},{112.75,82.75}}</string>
        <key>offset</key>
        <string>{-2.375,8.375}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5.25,14.25},{112.75,82.75}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00019.png</key>
      <dict>
        <key>frame</key>
        <string>{{903.5,0},{112.25,82.75}}</string>
        <key>offset</key>
        <string>{-2.125,8.125}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5.75,14.5},{112.25,82.75}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015.75,0},{112,82.75}}</string>
        <key>offset</key>
        <string>{-2,8.125}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,14.5},{112,82.75}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1127.75,0},{112.5,83}}</string>
        <key>offset</key>
        <string>{-2.25,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5.5,14},{112.5,83}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00021.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82.25},{111.75,83}}</string>
        <key>offset</key>
        <string>{-1.875,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6.25,14.5},{111.75,83}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00007.png</key>
      <dict>
        <key>frame</key>
        <string>{{111.75,82.25},{111.25,83.25}}</string>
        <key>offset</key>
        <string>{-1.625,8.125}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6.75,14.25},{111.25,83.25}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00008.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,82.25},{111.75,83.25}}</string>
        <key>offset</key>
        <string>{-1.875,8.375}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6.25,14},{111.75,83.25}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00009.png</key>
      <dict>
        <key>frame</key>
        <string>{{334.75,82.5},{112,83.25}}</string>
        <key>offset</key>
        <string>{-2,8.375}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,14},{112,83.25}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00022.png</key>
      <dict>
        <key>frame</key>
        <string>{{446.75,82.5},{111.25,83.25}}</string>
        <key>offset</key>
        <string>{-1.625,7.875}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6.75,14.5},{111.25,83.25}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00006.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,82.5},{110.75,83.5}}</string>
        <key>offset</key>
        <string>{-1.375,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7.25,14.25},{110.75,83.5}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00023.png</key>
      <dict>
        <key>frame</key>
        <string>{{668.75,82.5},{111,83.5}}</string>
        <key>offset</key>
        <string>{-1.5,7.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,14.5},{111,83.5}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00005.png</key>
      <dict>
        <key>frame</key>
        <string>{{779.75,82.75},{110.25,83.75}}</string>
        <key>offset</key>
        <string>{-1.125,7.875}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7.75,14.25},{110.25,83.75}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00024.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,82.75},{110.5,83.75}}</string>
        <key>offset</key>
        <string>{-1.25,7.625}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7.5,14.5},{110.5,83.75}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00025.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000.5,82.75},{110,83.75}}</string>
        <key>offset</key>
        <string>{-1,7.625}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,14.5},{110,83.75}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110.5,83},{109.25,84}}</string>
        <key>offset</key>
        <string>{-0.625,7.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8.75,14.25},{109.25,84}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,165.25},{109.75,84}}</string>
        <key>offset</key>
        <string>{-0.875,7.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8.25,14.25},{109.75,84}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00026.png</key>
      <dict>
        <key>frame</key>
        <string>{{109.75,165.5},{109.5,84}}</string>
        <key>offset</key>
        <string>{-0.75,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8.5,14.5},{109.5,84}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00002.png</key>
      <dict>
        <key>frame</key>
        <string>{{219.25,165.5},{108.75,84.25}}</string>
        <key>offset</key>
        <string>{-0.375,7.625}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9.25,14.25},{108.75,84.25}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00027.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,165.75},{109.25,84.25}}</string>
        <key>offset</key>
        <string>{-0.625,7.375}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8.75,14.5},{109.25,84.25}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00028.png</key>
      <dict>
        <key>frame</key>
        <string>{{437.25,165.75},{108.75,84.25}}</string>
        <key>offset</key>
        <string>{-0.375,7.375}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9.25,14.5},{108.75,84.25}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00029.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,166},{108.25,84.5}}</string>
        <key>offset</key>
        <string>{-0.125,7.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9.75,14.5},{108.25,84.5}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00000.png</key>
      <dict>
        <key>frame</key>
        <string>{{654.25,166},{107.75,84.75}}</string>
        <key>offset</key>
        <string>{0.125,7.125}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10.25,14.5},{107.75,84.75}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>PlantPosion_00001.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,166.5},{108.25,84.75}}</string>
        <key>offset</key>
        <string>{-0.125,7.375}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9.75,14.25},{108.25,84.75}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>PlantPoison.png</string>
      <key>size</key>
      <string>{1240,251}</string>
      <key>textureFileName</key>
      <string>PlantPoison</string>
    </dict>
  </dict>
</plist>
