<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>heart_piece_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{32,29}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{32,29}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>heart_piece_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,0},{32,29}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{32,29}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>heart_piece_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{32,29}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{32,29}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>heart_piece_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{32,29}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{32,29}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>heart_piece_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{32,29}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{32,29}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>heart-pieces.png</string>
      <key>size</key>
      <string>{160,29}</string>
      <key>textureFileName</key>
      <string>heart-pieces</string>
    </dict>
  </dict>
</plist>
